## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Loading the data into df and basic exploratory

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Making X and y from the data

In [6]:
# Dropping the useless variables and storing in X
X = df.drop(['RowNumber', 'CustomerId', 'Surname', 'Exited'], axis=1)

In [7]:
y = df.Exited

## Browsing through the sklearn library

In [39]:
import sklearn
[x for x in dir(sklearn) if '__' not in x]

['_config',
 '_distributor_init',
 '_isotonic',
 'base',
 'calibration',
 'clone',
 'cluster',
 'compose',
 'config_context',
 'covariance',
 'cross_decomposition',
 'datasets',
 'decomposition',
 'discriminant_analysis',
 'dummy',
 'ensemble',
 'exceptions',
 'experimental',
 'externals',
 'feature_extraction',
 'feature_selection',
 'gaussian_process',
 'get_config',
 'impute',
 'inspection',
 'isotonic',
 'kernel_approximation',
 'kernel_ridge',
 'linear_model',
 'logger',
 'logging',
 'manifold',
 'metrics',
 'mixture',
 'model_selection',
 'multiclass',
 'multioutput',
 'naive_bayes',
 'neighbors',
 'neural_network',
 'os',
 'pipeline',
 'preprocessing',
 'random_projection',
 're',
 'semi_supervised',
 'set_config',
 'setup_module',
 'show_versions',
 'svm',
 'sys',
 'tree',
 'utils']

## Train Test Split

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Dummy Variable generation

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [24]:
from sklearn.compose import make_column_transformer

In [23]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [34]:
column_trans = make_column_transformer((OneHotEncoder(drop='first'), ['Geography', 'Gender'])
                                       , remainder='passthrough')

In [37]:
# DataFrame helps me visualize the data better! :)
pd.DataFrame(column_trans.fit_transform(X))

        0    1    2      3     4     5          6    7    8    9         10
0     0.0  0.0  0.0  619.0  42.0   2.0       0.00  1.0  1.0  1.0  101348.88
1     0.0  1.0  0.0  608.0  41.0   1.0   83807.86  1.0  0.0  1.0  112542.58
2     0.0  0.0  0.0  502.0  42.0   8.0  159660.80  3.0  1.0  0.0  113931.57
3     0.0  0.0  0.0  699.0  39.0   1.0       0.00  2.0  0.0  0.0   93826.63
4     0.0  1.0  0.0  850.0  43.0   2.0  125510.82  1.0  1.0  1.0   79084.10
...   ...  ...  ...    ...   ...   ...        ...  ...  ...  ...        ...
9995  0.0  0.0  1.0  771.0  39.0   5.0       0.00  2.0  1.0  0.0   96270.64
9996  0.0  0.0  1.0  516.0  35.0  10.0   57369.61  1.0  1.0  1.0  101699.77
9997  0.0  0.0  0.0  709.0  36.0   7.0       0.00  1.0  0.0  1.0   42085.58
9998  1.0  0.0  1.0  772.0  42.0   3.0   75075.31  2.0  1.0  0.0   92888.52
9999  0.0  0.0  0.0  792.0  28.0   4.0  130142.79  1.0  1.0  0.0   38190.78

[10000 rows x 11 columns]

In [47]:
X = column_trans.fit_transform(X)

## Feature Scaling

In [40]:
from sklearn.preprocessing import StandardScaler

In [46]:
sc = StandardScaler()

In [49]:
pd.DataFrame(sc.fit_transform(X))

,0,1,2,3,4,5,6,7,8,9,10
0,-0.578736,-0.573809,-1.095988,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886
1,-0.578736,1.742740,-1.095988,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534
2,-0.578736,-0.573809,-1.095988,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687
3,-0.578736,-0.573809,-1.095988,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918
4,-0.578736,1.742740,-1.095988,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276
...,...,...,...,...,...,...,...,...,...,...,...
9995,-0.578736,-0.573809,0.912419,1.246488,0.007457,-0.004426,-1.225848,0.807737,0.646092,-1.030670,-0.066419
9996,-0.578736,-0.573809,0.912419,-1.391939,-0.373958,1.724464,-0.306379,-0.911583,0.646092,0.970243,0.027988
9997,-0.578736,-0.573809,-1.095988,0.604988,-0.278604,0.687130,-1.225848,-0.911583,-1.547768,0.970243,-1.008643
9998,1.727904,-0.573809,0.912419,1.256835,0.293517,-0.695982,-0.022608,0.807737,0.646092,-1.030670,-0.125231
9999,-0.578736,-0.573809,-1.095988,1.463771,-1.041433,-0.350204,0.859965,-0.911583,0.646092,-1.030670,-1.076370

In [50]:
X = sc.fit_transform(X)

In [55]:
X

array([[-0.57873591, -0.57380915, -1.09598752, ...,  0.64609167,
         0.97024255,  0.02188649],
       [-0.57873591,  1.74273971, -1.09598752, ..., -1.54776799,
         0.97024255,  0.21653375],
       [-0.57873591, -0.57380915, -1.09598752, ...,  0.64609167,
        -1.03067011,  0.2406869 ],
       ...,
       [-0.57873591, -0.57380915, -1.09598752, ..., -1.54776799,
         0.97024255, -1.00864308],
       [ 1.72790383, -0.57380915,  0.91241915, ...,  0.64609167,
        -1.03067011, -0.12523071],
       [-0.57873591, -0.57380915, -1.09598752, ...,  0.64609167,
        -1.03067011, -1.07636976]])